.panel-heading {
  /*background-color: #f1f1f1;*/
  background-color: white;
  font-size: 16px;
  text-align: left;
  padding: 10px 5px;
  border-bottom: 1px solid #eee !important;
}


.panel-title {
  font-size: 12px;
}

.list-group-item {
  font-size: 10px;
}

a:focus, a:hover {
  text-decoration: none;
  background-color: #D3D3D3;
}

h1 {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
}

h2 {
  font-size: 12px;
  text-align: center;
  font-family: "Roboto";
  text-transform: uppercase;  
  margin-top: 0px;
  margin-bottom: 20px;
}

.table-bordered, tr, td {
  font-size: 10px;

}
.table-condensed {
    margin: 5 auto;
}

.panel-collapse {
  padding: 5px;
}

body {
  margin: 0px 5px;
  font-family: 'Fjalla One', sans-serif;
  background-color: #f1f1f1;
}



.top-menu {
  margin-top: 3px;
}



.standings-place-number {
  color: black;
  margin: 0px 5px;
  font-size: 12px;
  text-align: center;
}

.player-photo {
  margin: 0px 8px;
}

.team-name {
  font-size: 16px;
  margin: 0px 8px;
  color: #46404A;
}

.team-earnings {
  color: #46404A;
  font-size: 16px;
  
  padding: 0px 15px;
  text-align: right; 

}

.first-place {
  
}

.roster-header {
  /*background-color: #fff8dc;*/
  font-family: "Fjalla One";
  border-bottom: 1px solid black;
  text-transform: uppercase;
}


.table-condensed {
  margin-bottom: 5px;
  font-family: "Roboto"
}

.owner {
  color: lightslategrey;
  font-size: 12px;
  font-family: "Roboto";
  margin-top: 10px;

}

.picker {
  margin-top:  5px;
}

.picker-option{
  margin: 20px;
  color: grey;
  font-family: "Arial";
}

.selected {
  color: #337ab7;
  border-bottom: 1px solid #337ab7;
  padding-bottom: 3px;
}

.tournament-name {
  color: #46404A;
  margin-top: 40px;
}

.number-circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 20px "Roboto", sans-serif;
}




.label {
  font-size: 12px;
  /*background-color: #eee;*/
  color: #46404A;
  font-family: "Roboto"
}

.label-default {
    background-color: #eee;
}

.label-success {
  /*background-color: #7bbb5e;*/
  color: white;
}

.label-danger {
  color: white; 
}